.frosted-glass-btn {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.frosted-glass-btn:hover {
  background-color: rgba(215, 211, 244, 0.24);
}

.yellow-action-btn {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 10px;
  background-color: #fdc148;
  padding: 1rem 2rem;
  color: #3f2e0c;
  border-radius: 20px;
  cursor: pointer;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.yellow-action-btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.yellow-action-btn:active {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  transform: scale(0.98);
}

.pressable-btn {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.pressable-btn:active {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  transform: scale(0.98);
}
