/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

linear-gradient(to bottom, var(--purple-0) 24%, var(--purple-01));
purple0 = #ece9ff
purple1 = #d7d3f4



Primary: #23144c + #23144c (opacity 80) (35, 20, 76)

- Tints: #4d308c, #d7d3f4, #ece9ff, #8f7bd6, #c3b8f2, #d6c7eb
- Shades: #0e0433
- Accents: #fdc148, #f1a918
- Grays: #3f2e0c

linear-gradient(to bottom, #ebe9fd, #e1def7);



--- 05 SHADOWS

box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

--- 06 BORDER_RADIUS

Default: 10px
Light: 15px
Medium: 20px
Heavy: 25px

-- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Figtree", sans-serif;
  max-width: 120rem;
  margin: 2.4rem auto;
}

/* ******************** NAVBAR ******************** */

.navbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar-div img {
  margin-right: auto;
  max-width: 20rem;
}

.navbar-link:link,
.navbar-link:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #0e0433;
}

.navbar-link:hover,
.navbar-link:active {
  color: #8f7bd6;
}

.navbar-link:last-child {
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.navbar-link:last-child:link,
.navbar-link:last-child:visited {
  background-color: #fdc148;
}

.navbar-link:last-child:hover,
.navbar-link:last-child:active {
  background-color: #f1a918;
  color: #3f2e0c;
}

/* ******************** HERO SECTION ******************** */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  margin: 2.4rem 0;
  padding: 0 20rem;
  background: linear-gradient(to bottom, rgba(236, 233, 255, 0.8), #d7d3f4);
  border-radius: 2.5rem;
}

.hero-main-text {
  color: #23144c;
  font-size: 4.8rem;
  text-align: center;
}

.hero-detailed-text {
  color: rgba(35, 20, 76, 0.8);
  font-size: 2.4rem;
  margin: 0;
  line-height: 1.6;
}

.try-for-free-btn {
  color: #fff;
  font-size: 2rem;
  background-color: #4d308c;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.hero-img {
  max-width: 90rem;
  position: relative;
  display: block;
  border: 18px solid;
  border-image: linear-gradient(to bottom, #ebe9fd, #e1def7) 1;
  border-bottom: 0;
  border-radius: 25px 25px 0 0;
}

.container {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}

/* ******************** USED BY SECTION ******************** */
.used-by-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90rem;
  padding: 0 20rem;
}

.used-by-text {
  font-size: 1.8rem;
}

.used-by-logo {
  filter: brightness(0);
  opacity: 50%;
}

/* ******************** MORE INFO SECTION ******************** */
/* ********** TWO HEADINGS ********** */
.more-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(236, 233, 255, 0.8), #d7d3f4);
  border-radius: 2.5rem;
}

.more-info-main-text {
  color: #23144c;
  font-size: 4rem;
  text-align: center;
  max-width: 70rem;
}

.more-info-detailed-text {
  color: rgba(35, 20, 76, 0.8);
  font-size: 2.4rem;
  margin: 0;
  line-height: 1.6;
  text-align: center;
  max-width: 60rem;
}

/* ********** FEATURE CARDS ********** */

.features-section {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 3rem;
  gap: 0;
}

.feature-card {
  background-color: #ffffff;
  border: 1px solid #d7d3f4;
  margin: 1.6rem;
  border-radius: 10px;
  padding: 2.4rem;
  box-shadow: 0 1px 6px rgba(76, 48, 135, 0.08);
}

.feature-card img {
  max-width: 4rem;
}

.feature-card-heading {
  color: #23144c;
  font-size: 2.8rem;
  font-weight: 700;
}

.feature-card-detailed-text {
  color: rgba(35, 20, 76, 0.8);
  font-size: 2rem;
}

/* ********** SUMMARISE TEXT IN DIFFERENT FORMATS SECTION ********** */
.summary-service-heading {
  font-size: 4rem;
  color: #23144c;
}

.summary-service-section {
  display: flex;
  gap: 4.8rem;
  max-width: 120rem;
}

.summary-service-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-service-example img {
  max-width: 9.6rem;
}

.summary-service-text {
  max-width: 9.6rem;
  font-size: 1.6rem;
  color: #4d308c;
}

/* ******************** TESTIMONIALS AND PRICING SECTION ******************** */
.testimonials-pricing-section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(236, 233, 255, 0.8), #d7d3f4);
  border-radius: 2.5rem;
}

.testimonials-pricing-heading {
  color: #23144c;
  font-size: 4rem;
  text-align: center;
  max-width: 70rem;
}

/* ********** TESTIMONIALS SECTION ********** */
.testimonials-section {
  display: flex;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #d7d3f4;
  margin: 1.6rem;
  border-radius: 10px;
  padding: 0 2.4rem;
  box-shadow: 0 1px 6px rgba(76, 48, 135, 0.08);
}

.testimonial-main-text {
  color: #23144c;
  font-size: 2.4rem;
}

.testimonial-author {
  font-size: 2rem;
}

.testimonial-profession {
  font-size: 1.6rem;
}

/* ********** PRICING SECTION ********** */
.compare-plans-heading {
  font-size: 4rem;
  color: #23144c;
}

.compare-plans-main-text {
  font-size: 2.4rem;
  color: #23144c;
  max-width: 80rem;
  text-align: center;
}

.plans-section {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 5rem;
}

.plan-card {
  background-color: #ffffff;
  border-radius: 15px; /* TODO */
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px rgba(76, 48, 135, 0.08);
  padding: 2.4rem;
}

.plan-card-one {
  border: 1px solid #d7d3f4;
}

.plan-card-two {
  border: 4px solid #8f7bd6;
}

.plan-card-one-name {
  font-size: 1.6rem;
  color: #8f7bd6;
  border: 1px solid #8f7bd6;
  width: max-content;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.plan-card-two-name {
  font-size: 1.6rem;
  color: #4d308c;
  background-color: #d7d3f4;
  font-weight: 600;
  width: max-content;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.plan-card-price {
  font-size: 4rem;
  color: #23144c;
  font-weight: 700;
}

.plan-card-price span {
  color: #d1d1d1;
}

.plan-card-one-button {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  width: max-content;
  padding: 1rem 12rem;
  border-radius: 10px;
}

.plan-card-one-button:link,
.plan-card-one-button:visited {
  color: #4d308c;
  background-color: #d7d3f4;
}

.plan-card-one-button:hover,
.plan-card-one-button:active {
  color: #0e0433;
  background-color: #c3b8f2;
}

.plan-card-two-button {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  width: max-content;
  padding: 1rem 12rem;
  border-radius: 10px;
}

.plan-card-two-button:link,
.plan-card-two-button:visited {
  background-color: #4d308c;
}

.plan-card-two-button:hover,
.plan-card-two-button:active {
  background-color: #23144c;
}

.plan-card-list-item {
  font-size: 2rem;
}

.plan-card-list {
  list-style-image: url("../img/home/tick-icon.svg");
}

/* ******************** FOOTER ******************** */
footer {
  margin-top: 10rem;
  background-color: #4d308c;
  width: 100%;
  max-width: 100vw;
}

.footer-container {
  max-width: 120rem;
  margin: 2.4rem auto;
}

/* ********** FOOTER HERO SECTION ********** */
.footer-hero-section {
  text-align: center;
}

.footer-hero-section img {
  transform: scale(0.5);
}

.footer-hero-main-text {
  font-size: 3.2rem;
  font-weight: 700;
  color: #ffffff;
}

.footer-hero-detailed-text {
  color: #d6c7eb;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-hero-button {
  font-size: 2rem;
  font-weight: 700;
  color: #0e0433;
  background-color: #f1a918;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  border-radius: 15px;
}

/* ********** FOOTER LINKS SECTION ********** */
.footer-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
  border-bottom: 1px solid white;
}

.footer-links-block {
  display: flex;
  flex-direction: column;
}

.footer-links-block-heading {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}

.footer-links-block-item:link,
.footer-links-block-item:visited {
  font-size: 2rem;
  color: #d6c7eb;
}

.footer-links-block-item:hover,
.footer-links-block-item:active {
  font-size: 2rem;
  color: #f4ebff;
}

/* ********** FOOTER META SECTION ********** */
.footer-meta {
  display: flex;
  justify-content: space-between;
}

.footer-social-media-logo {
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 0.4rem;
}

.footer-logo {
  width: 16rem;
  margin-right: 2.4rem;
}

.copyright p {
  color: #d6c7eb;
  font-size: 2rem;
  text-align: end;
}

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* - Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6 

*/
