/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

linear-gradient(to bottom, var(--purple-0) 24%, var(--purple-01));
purple0 = #ece9ff
purple1 = #d7d3f4



Primary: #23144c + #23144c (opacity 80) (35, 20, 76)

- Tints: #4d308c, #d7d3f4, #ece9ff, #8f7bd6, #c3b8f2, #d6c7eb, #895fc3, #5e3894
- Shades: #0e0433, #341C52, #1f2937;
- Accents: #fdc148, #f1a918, #ef4444
- Grays: #3f2e0c, #6f6f6f, #272727

linear-gradient(to bottom, #ebe9fd, #e1def7);

--- 05 SHADOWS

box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

--- 06 BORDER_RADIUS

Default: 10px
Light: 15px
Medium: 20px
Heavy: 25px

-- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Figtree", sans-serif;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

/* ******************** LEFT SECTION ******************** */
.left-section {
  flex: 1;
}

.navigation-bar-logo {
  width: 20rem;
  margin-top: 2.4rem;
}

.testimonial-section {
  text-align: center;
  width: 35rem;
  height: 25rem;
  background-image: url("../img/login/quotes-background.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20rem auto;
}

.testimonial-label {
  color: #341c52;
  font-size: 1.6rem;
  font-weight: 600;
}

.testimonial-heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.testimonial {
  color: #6f6f6f;
  font-size: 2rem;
}

.testimonial-author {
  font-style: italic;
  color: #1f2937;
  font-weight: 600;
  font-size: 1.6rem;
}

.testimonial-location {
  font-size: 1.4rem;
  color: #6f6f6f;
}

/* ******************** RIGHT SECTION ******************** */
.right-section {
  flex: 1;
  background-color: #eff4f9;
}

.form-submit {
  height: 3.2rem;
  width: 40rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #895fc3;
  border: 1px solid transparent;
  border-radius: 5px;
}

.form-submit:hover {
  background-color: #5e3894;
  cursor: pointer;
}

.form-label {
  color: #272727;
  font-size: 1.4rem;
}

.form-field {
  border-radius: 5px;
  border: 1px solid grey;
  height: 3.2rem;
  width: 40rem;
  font-size: 1.4rem;
}

.field-error {
  border: 1px solid red;
}

.invalid-feedback {
  color: #ef4444;
  font-size: 1.6rem;
}
