<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="TODO" />
    <meta name="keywords" content="TODO" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>TODO</title>
  </head>
  <nav>
    <div class="navbar-div">
      <div class="navbar-logo">
        <a href="#">
          <img src="../static/img/home/logo-purple.svg" alt="Logo"
        /></a>
      </div>
      <a class="navbar-link" href="#features">Features</a>
      <a class="navbar-link" href="#testimonials">Testimonials</a>
      <a class="navbar-link" href="#pricing">Pricing</a>
      <a class="navbar-link" href='{{url_for("user_authentication.login")}}'>
        Login
      </a>
      <a class="navbar-link" href='{{url_for("user_authentication.register")}}'>
        Register
      </a>
      <a class="navbar-link" href="#pricing">Try today</a>
    </div>
  </nav>
  <body>
    <div class="main-container">
      <div class="hero">
        <h1 class="hero-main-text">
          Summarise and extract key information from articles with our AI
          summariser.
        </h1>
        <p class="hero-detailed-text">
          Get a snapshot of what matters - <em>fast</em>.
        </p>
        <p class="hero-detailed-text">
          Break down complex concepts into easy-to-read sections.
        </p>
        <p class="hero-detailed-text">
          Skim or dive deep with a clean reading experience.
        </p>
        <a class="try-for-free-btn" href="#">Try for free</a>
        <div class="container">
          <img
            class="hero-img"
            src="../static/img/home/hero-screenshot.webp"
            alt="Preview screenshot of the summariser app"
          />
        </div>
      </div>

      <div class="used-by-section">
        <p class="used-by-text">Used by people studying at</p>
        <img
          class="used-by-logo"
          src="../static/img/home/oxford-logo.svg"
          alt="University of Oxford logo"
        />
        <img
          class="used-by-logo"
          src="../static/img/home/oxford-brookes-logo.svg"
          alt="Oxford Brookes University logo"
        />
        <img
          class="used-by-logo"
          src="../static/img/home/cambridge-logo.svg"
          alt="University of Cambridge logo"
        />
        <img
          class="used-by-logo"
          src="../static/img/home/harvard-logo.svg"
          alt="Harvard University logo"
        />
        <img
          class="used-by-logo"
          src="../static/img/home/stanford-logo.svg"
          alt="Stanford University logo"
        />
      </div>

      <div class="more-info-section" id="features">
        <h1 class="more-info-main-text">
          Summarize, analyze, and organize your research in one place.
        </h1>
        <p class="more-info-detailed-text">
          Features built for scholars like you, trusted by researchers and
          students around the world.
        </p>

        <div class="features-section">
          <div class="feature-card">
            <img src="../static/img/home/closed-book-icon.svg" />
            <p class="feature-card-heading">Any format</p>
            <p class="feature-card-detailed-text">
              Summarise papers, PDFs, book chapters, online articles and more.
            </p>
          </div>

          <div class="feature-card">
            <img src="../static/img/home/up-arrow-icon.svg" />
            <p class="feature-card-heading">Any format</p>
            <p class="feature-card-detailed-text">
              Summarise papers, PDFs, book chapters, online articles and more.
            </p>
          </div>

          <div class="feature-card">
            <img src="../static/img/home/stars-icon.svg" />
            <p class="feature-card-heading">Any format</p>
            <p class="feature-card-detailed-text">
              Summarise papers, PDFs, book chapters, online articles and more.
            </p>
          </div>

          <div class="feature-card">
            <img src="../static/img/home/eye-icon.svg" />
            <p class="feature-card-heading">Any format</p>
            <p class="feature-card-detailed-text">
              Summarise papers, PDFs, book chapters, online articles and more.
            </p>
          </div>

          <div class="feature-card">
            <img src="../static/img/home/open-book-icon-one.svg" />
            <p class="feature-card-heading">Any format</p>
            <p class="feature-card-detailed-text">
              Summarise papers, PDFs, book chapters, online articles and more.
            </p>
          </div>

          <div class="feature-card">
            <img src="../static/img/home/lamp-icon.svg" />
            <p class="feature-card-heading">Any format</p>
            <p class="feature-card-detailed-text">
              Summarise papers, PDFs, book chapters, online articles and more.
            </p>
          </div>
        </div>

        <h1 class="summary-service-heading">Summarise texts in any format</h1>
        <div class="summary-service-section">
          <div class="summary-service-example">
            <img src="../static/img/home/pdf-icon.svg" />
            <p class="summary-service-text">Summarise PDFs</p>
          </div>

          <div class="summary-service-example">
            <img src="../static/img/home/open-book-icon-two.svg" />
            <p class="summary-service-text">Summarise Book Chapters</p>
          </div>

          <div class="summary-service-example">
            <img src="../static/img/home/browser-icon.svg" />
            <p class="summary-service-text">Summarise Online Articles</p>
          </div>

          <div class="summary-service-example">
            <img src="../static/img/home/page-search-icon.svg" />
            <p class="summary-service-text">Summarise Research Papers</p>
          </div>

          <div class="summary-service-example">
            <img src="../static/img/home/text-icon.svg" />
            <p class="summary-service-text">Summarise Plain Text</p>
          </div>

          <div class="summary-service-example">
            <img src="../static/img/home/youtube-icon.svg" />
            <p class="summary-service-text">Summarise YouTube Videos</p>
          </div>
        </div>
      </div>

      <div class="testimonials-pricing-section" id="testimonials">
        <h1 class="testimonials-pricing-heading">What students say</h1>
        <div class="testimonials-section">
          <div class="testimonial-card">
            <p class="testimonial-main-text">
              It would normally take me 15mins – 1 hour to skim read the article
              but with Scholarcy I can do that in 5 minutes.
            </p>
            <p class="testimonial-author">Omar Ng</p>
            <p class="testimonial-profession">Masters student</p>
          </div>

          <div class="testimonial-card">
            <p class="testimonial-main-text">
              Scholarcy makes my life easier because it pulls out important
              information in the summary flashcard.
            </p>
            <p class="testimonial-author">Victoria Stanham</p>
            <p class="testimonial-profession">Researcher</p>
          </div>

          <div class="testimonial-card">
            <p class="testimonial-main-text">
              Scholarcy is clear and easy to navigate. It helps speed up the
              process of reading and understating papers.
            </p>
            <p class="testimonial-author">Sanya Sharma</p>
            <p class="testimonial-profession">Biomed Sciences undergrad</p>
          </div>
        </div>

        <h1 class="compare-plans-heading" id="pricing">Compare plans</h1>
        <p class="compare-plans-main-text">
          Summarise 3 articles a day with our free summariser tool, or upgrade
          to Scholarcy Library to generate and save unlimited article summaries.
        </p>
        <div class="plans-section">
          <div class="plan-card plan-card-one">
            <p class="plan-card-one-name">Article Summariser</p>
            <p class="plan-card-price">Free</p>
            <a class="plan-card-one-button" href="#">Try for free</a>
            <ul class="plan-card-list">
              <li class="plan-card-list-item">
                Import a range of file formats
              </li>
              <li class="plan-card-list-item">Limit of 3 summaries per day</li>
              <li class="plan-card-list-item">
                Export flashcards (one at a time)
              </li>
            </ul>
          </div>

          <div class="plan-card plan-card-two">
            <p class="plan-card-two-name">Scholarcy Plus</p>
            <p class="plan-card-price">£7.99<span>/month</span></p>
            <a class="plan-card-two-button" href="#">Get started</a>
            <ul class="plan-card-list">
              <li class="plan-card-list-item">
                <strong>Everything in Free</strong>
              </li>
              <li class="plan-card-list-item">Unlimited summarization</li>
              <li class="plan-card-list-item">Generate enhanced summaries</li>
              <li class="plan-card-list-item">Save your flashcards</li>
              <li class="plan-card-list-item">
                Take notes, highlight and edit text
              </li>
              <li class="plan-card-list-item">
                Organize flashcards into collections
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer-container">
      <div class="footer-hero-section">
        <img
          src="../static/img/home/magic-book.webp"
          alt="Image of a book with a wand in front of it"
        />
        <p class="footer-hero-main-text">
          Knowledge made simple with Scholarcy
        </p>
        <p class="footer-hero-detailed-text">
          Join over 500,000 people already saving time
        </p>
        <a class="footer-hero-button" href="#">Start free</a>
      </div>

      <div class="footer-links">
        <div class="footer-links-block">
          <p class="footer-links-block-heading">Product</p>
          <a href="#" class="footer-links-block-item">Article Summariser</a>
          <a href="#" class="footer-links-block-item">Features</a>
          <a href="#" class="footer-links-block-item">Who is Scholarcy for?</a>
          <a href="#" class="footer-links-block-item">Browser Extensions</a>
          <a href="#" class="footer-links-block-item">Pricing</a>
          <a href="#" class="footer-links-block-item">Sign Up</a>
          <a href="#" class="footer-links-block-item">Login</a>
        </div>

        <div class="footer-links-block">
          <p class="footer-links-block-heading">Learn</p>
          <a href="#" class="footer-links-block-item">Blog</a>
          <a href="#" class="footer-links-block-item">Quickstart Guide</a>
          <a href="#" class="footer-links-block-item">Video Tutorials</a>
        </div>

        <div class="footer-links-block">
          <p class="footer-links-block-heading">Help</p>
          <a href="#" class="footer-links-block-item">User Guide</a>
          <a href="#" class="footer-links-block-item">FAQs</a>
          <a href="#" class="footer-links-block-item">Contact Support</a>
          <a href="#" class="footer-links-block-item">System Status</a>
        </div>

        <div class="footer-links-block">
          <p class="footer-links-block-heading">Company</p>
          <a href="#" class="footer-links-block-item">About Us</a>
          <a href="#" class="footer-links-block-item">Privacy Policy</a>
          <a href="#" class="footer-links-block-item">Cookies Policy</a>
          <a href="#" class="footer-links-block-item">Security</a>
          <a href="#" class="footer-links-block-item">Terms of Service</a>
          <a href="#" class="footer-links-block-item">Scholarcy Library ToS</a>
          <a href="#" class="footer-links-block-item">API Terms of Service</a>
        </div>
      </div>

      <div class="footer-meta">
        <div class="social-media-links">
          <img
            class="footer-logo"
            href="#"
            src="../static/img/home/logo-white.svg"
          />
          <img
            class="footer-social-media-logo"
            href="#"
            src="../static/img/home/twitter-footer-icon.svg"
          />
          <img
            class="footer-social-media-logo"
            href="#"
            src="../static/img/home/youtube-footer-icon.svg"
          />
          <img
            class="footer-social-media-logo"
            href="#"
            src="../static/img/home/facebook-footer-icon.svg"
          />
          <img
            class="footer-social-media-logo"
            href="#"
            src="../static/img/home/linkedin-footer-icon.svg"
          />
        </div>

        <div class="copyright">
          <p>© 2024 Scholarcy Limited. All Rights Reserved.</p>
          <p>Company Number 11779938.</p>
          <p>Registered in England & Wales.</p>
        </div>
      </div>
    </div>
  </footer>
</html>
