<!-- prettier-ignore -->
{% extends "login-base.html" %} 
{% block css_link %}
<link rel="stylesheet" href="../static/css/login.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<div class="right-section">
  <div class="login-section">
    <h1 class="login-title">Log in to Scholarcy</h1>
    <p class="login-text">
      Don't have an account?
      <a
        class="signup-link"
        href="{{ url_for('user_authentication.register') }}"
        >Sign up</a
      >
    </p>
    <!-- prettier-ignore -->
    <form method="post">
      {{ loginForm.hidden_tag() }}
      
      <!-- EMAIL -->
      {{ loginForm.email.label(class="form-label") }} <br />
      {{ loginForm.email(class="form-field") }} <br />

      <!-- EMAIL ERROR MESSAGES -->
      {% for error in loginForm.email.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}

      <!-- PASSWORD -->
      {{ loginForm.password.label(class="form-label") }} <br />
      {{loginForm.password(class="form-field") }} <br />

      <!-- PASSWORD ERROR MESSAGES -->
      {% for error in loginForm.password.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}

      <!-- SUBMIT -->
      {{ loginForm.submit(class="form-submit") }}
    </form>
  </div>
</div>
{% endblock %}
