<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="TODO" />
    <meta name="keywords" content="TODO" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/summariser.css" />
    <link rel="stylesheet" href="../static/css/general.css" />
    <title>TODO</title>
  </head>

  <body>
    <header>
      <nav class="navigation-bar">
        <div class="navigation-bar-logo">
          <a href="{{url_for('user_authentication.home')}}"
            ><img src="../static/img/summariser/logo-white.svg"
          /></a>
        </div>

        <a
          class="previous-summaries-btn frosted-glass-btn pressable-btn"
          href="{{url_for('user_history.view_past_generations')}}"
          >View Previous Summaries</a
        >
        <a
          class="logout-btn frosted-glass-btn pressable-btn"
          href="{{url_for('user_authentication.logout')}}"
          >Log Out</a
        >
        <a
          class="upgrade-btn yellow-action-btn pressable-btn"
          href="{{url_for('user_authentication.home')}}#pricing"
          >Upgrade</a
        >
      </nav>
    </header>
    <div class="main-container">
      <h1 class="title-text">Summarise your text...</h1>
      <div class="settings">
        <p class="model-label">Modes</p>
        <a class="model-setting model-setting-one active" href="#">Summarise</a>
        <a class="model-setting model-setting-two" href="#">Key info</a>
        <a class="model-setting model-setting-three" href="#"
          >Entity recognition</a
        >
        <div class="model-dropdown">
          <button class="dropbtn">Select Model</button>
          <div class="dropdown-content">
            <p class="dropdown-option dropdown-option-one">GPT-4o mini</p>
            <p class="dropdown-option dropdown-option-two">GPT-4o</p>
            <p class="dropdown-option dropdown-option-three">GPT-4</p>
          </div>
        </div>
      </div>

      <div class="io-section">
        <div class="input-section">
          <textarea class="input"></textarea>
          <a class="generate-btn" href="#">Generate</a>
        </div>
        <div class="output-section">
          <p class="output"></p>
        </div>
      </div>
    </div>

    <!-- PLEASE SELECT A MODEL POPUP -->
    <div class="modal">
      <div class="modal-container">
        <div class="modal-top">
          <p class="modal-heading">Error</p>
          <span class="modal-close-btn">
            <ion-icon name="close-outline"></ion-icon>
          </span>
        </div>
        <p class="modal-text">Please select a model</p>
        <p class="modal-confirm-btn">OK</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="../static/js/summariser.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
